body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #b51b87, hsl(60, 77%, 54%));
  font-family: 'Quicksand', sans-serif;
  color: #4c0033;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  margin-bottom: 40px;
  animation: fadeInDown 1s ease-in-out;
}

.button {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.button button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  background-color: #ffb6b9;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.button button:hover {
  background-color: #ff6f91;
  transform: scale(1.1);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.corazones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.corazon {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image:url('https://th.bing.com/th/id/R.89a0eaca1ea2f0fd272672f77fedb29d?rik=CWWs0QndK5FtvQ&riu=http%3a%2f%2fcdn131.picsart.com%2f260129595018212.png&ehk=YUJx8STEXp%2bKu9R5shBkwMRUOJJ1e3mC2bqmhAv1M%2bY%3d&risl=&pid=ImgRaw&r=0');
  background-size: cover;
  animation: flotar 6s infinite ease-in;
}

@keyframes flotar {
  0% {
    transform: translateY(100vh) scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1.2);
    opacity: 0;
  }
}
